
body {
    background-color: rgb(20, 30, 41);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(238, 238, 238);
    margin-top: -30%;
    font-size: 5vw;
    display: block;
    margin-right: -40%;

}