/* Centrage global pour le body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Place les éléments verticalement */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #203041;
}

/* Style de la zone de recherche (flexbox pour centrer) */
.rechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0; /* Supprime les marges perturbantes */
}

/* Conteneur de recherche */
.search-container {
    position: relative;
    width: 300px;
}

/* Champ de recherche */
.search-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease;
}

/* Focus du champ */
.search-input:focus {
    border-color: #020305;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Bouton de recherche */
.search-button {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
}

/* Hover sur le bouton */
.search-button:hover {
    color: #000000;
}

/* Titre */
h1 {
    font-family: monospace;
    color: #85C1E9;
    font-size: 5vw;
    margin: 0; /* Supprime les marges inutiles */
    text-align: center;
    margin-bottom: 5%
}
