<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Groupie Tracker</title>
</head>
<header>
    <h1>Groupie Tracker</h1>
    <div class="search-container">
        <input type="text" placeholder="Rechercher un artiste/groupe" class="search-input">
        <button class="search-button">🔍</button>
</header>
<body>
    <div class="ligne-neon"></div>
    <div class="container">
        {{ range .}}
        <div class="box">
            <a href="/artiste.html" >
            <img src="{{ .Image }}" alt="{{ .Name }}" >
            <h4>{{ .Name }}</h4>
        </a>
        </div>
        {{ end }}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchInput = document.querySelector(".search-input");
            const artistBoxes = document.querySelectorAll(".box");
    
            searchInput.addEventListener("input", function() {
                const searchValue = searchInput.value.toLowerCase();
    
                artistBoxes.forEach(box => {
                    const artistName = box.querySelector("h4").textContent.toLowerCase();
                    if (artistName.includes(searchValue)) {
                        box.style.display = "block";
                    } else {
                        box.style.display = "none";
                    }
                });
            });
        });
    </script>
    
</body>
</html>